/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24-Sept-2023, 9:50:46 pm
    Author     : venkadesh
*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21-Sept-2023, 12:00:44 pm
    Author     : venkadesh
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.h
{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    background:  #3591F2;
    display: flex;
    justify-content: flex-end;
   
    align-items: center;
}
.n a
{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.n a:hover 
{
    text-decoration:underline;
}
h1
        {
            margin-top:40px;
            background-color: whitesmoke;
            width:65%;
        }
        table
        {
            margin:3% auto;
            padding:0;
            border-width:2px;
            border-style:solid;
            border-color: black;
            border-collapse: collapse;
            width: 75%;
            margin-top: 80px;
        }
        td,th
        {
            padding:1rem;
             border:2px solid #ccc;
             border-color: black;
        }
        td
        {
            text-align: center;
            font-size: 18px;
            color:black;
            
        }
        th
        {
            font-size: 20px;
            background:  #3591F2;
            color: white;
        }
        tr:nth-child(2)
        {
            background-color: lightgreen;
        }
        tr
        {
            background-color: lightcoral;
        }
        body{
            background:lightblue;
        }
        tr:nth-child(2) td{
            font-size: 24px;
            color:black;
  
}
 tr:nth-child(2){
  border: 2px solid black;
  
}
        tr:hover {background-color: #ddd;}
        .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left:20px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

 input
        {
            height:100%;
            width:80%;
            background-color:lightcoral;
        }
        .y input
        {
            height:100%;
            width:80%;
            background-color:green;
        }
        .r input
        {
            height:100%;
            width:80%;
            background-color:red;
        }


